:root {
  --text-color-primary: #20EDC8;
  --text-color-secondary: #DA01AA;
  --text-color-tertiary: #09F621;
  --background-color: #120732;
}

html,
body {
  width: 100%;
  min-height: 100%;
  font-family: 'Maven Pro Regular';
  background-color: var(--background-color);
}

html {
  &::-webkit-scrollbar {
    width: 8px;
  }
   
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px var(--text-color-tertiary);
  }
   
  &::-webkit-scrollbar-thumb {
    background-color: var(--text-color-tertiary);
    outline: 1px solid slategrey;
  }
}

.container {
  max-width: 1280px;
  width: 100%;
  padding-left: 240px;
  padding-right: 200px;
  box-sizing: border-box;
  margin: 0 auto;
}

#main {

  #header {
    position: fixed;
    width: 100%;
    z-index: 5;
    padding-top: 30px;
    height: 300px;
    
    @media (min-width: 1080px) {
      height: 180px;
    }

    .container {
      height: 100%;
      padding-left: 3%;
      padding-right: 3%;
    }
  }

  #content {
    height: 100%;

    .content__section {
      min-height: 100vh;

      &__title {
        display: block;
        text-align: center;
        font-size: 52px;
        margin-bottom: 100px;
        margin-top: 100px;
        padding-top: 100px;
        color: var(--text-color-primary);
        box-sizing: border-box;

        .separator {
          color: var(--text-color-tertiary);
        }
      }
    }
  }
}

.navigation {
  position: relative;
  height: 100%;

  &:after,
  &:before {
    content: '';
    display: block;
  }

  &:after {
    clear: both;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25px;
    width: 30px;
    margin-left: 8px;
    position: absolute;
    top: 20px;
    left: 10px;

    @media (min-width: 1080px) {
      display: none;
    }

    .bar {
      width: 3px;
      height: 25px;
      background-color: var(--text-color-tertiary);
      transform: rotate(30deg);
    }
  }

  .brand-link {
    z-index: -1;
    display: block;
    float: right;
    width: 60px;
    height: 60px;
    opacity: 0;
    position: relative;
    
    @media (min-width: 1080px) {
      width: 120px;
      height: 120px;
    }

    .ball {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(0deg);

      &.ball__one {
        background-color: var(--text-color-primary);
        z-index: -2;
        transform-origin: 48% 48%;
      }

      &.ball__two {
        background-color: var(--text-color-secondary);
        z-index: -3;
        transform-origin: 52% 52%;
      }
      
      &.ball__three {
        background-color: var(--text-color-tertiary);
        z-index: -4;
        transform-origin: 52% 48%;
      }
    }

    .video-wrap {
      display: block;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      
      @media (min-width: 1080px) {
        width: 120px;
        height: 120px;
      }
    }

    video {
      display: block;
      width: 60px;
      transform: translateY(-22.5px);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      @media (min-width: 1080px) {
        width: 120px;
        transform: translateY(-45px);
      }
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding-left: 30px;
    margin: 0;
    float: left;
    opacity: 0;
    z-index: 10;
    transform: translateY(-100%);
    margin-top: 30px  ;

    @media (min-width: 1080px) {
      padding-left: 0;
      transform: translateY(0%);
      margin-top: 0;
    }

    &__item {
      margin-right: 20px;
      position: relative;
      margin-bottom: 25px;

      @media (min-width: 1080px) {
        margin-bottom: 10px;
      }

      &.active {

        &:before {
          left: -20px;
          display: inline-flex;
        }

        .menu__link {
          color: var(--text-color-secondary);
        }

        &:hover .menu__link {
          color: var(--text-color-tertiary);
        }
      }

      &:before {
        content: '$';
        display: none;
        color: var(--text-color-tertiary);
        font-size: 20px;
        position: absolute;
        left: -4vw;
        top: 0;
        transition: 100ms all ease-in-out;

        @media (min-width: 1080px) {
          display: inline-flex;
        }
      }
    }
    
    &__link {
      font-size: 20px;
      color: var(--text-color-primary);
      text-decoration: none;

      &:hover {
        color: var(--text-color-tertiary);
      }
    }
  }
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__text {
    width: 100%;
    box-sizing: border-box;

    &__line {
      display: block;
      overflow: hidden;
      position: relative;
      z-index: 2;
      font-size: 60px;
      line-height: 40px;
      margin: 0;
      font-family: 'Maven Pro Regular';
      margin-bottom: 15px;
      padding-bottom: 15px;
      color: var(--text-color-primary);
      
      > span {
        display: inline-block;
        transform: translateY(145%);
      }

      &:last-child {
        margin-bottom: 0;
      }
      
      .name {
        color: var(--text-color-secondary);
      }

      .capacity {
        color: var(--text-color-tertiary);
      }
      
      .char {
        display: inline-block;
        color: var(--text-color-primary);
      }

      .bar {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 0%;
        background-color: var(--text-color);
      }
    }
  }
}

.skills {

  &__list {
    list-style: none;
    padding-left: 0;
    margin: 0;

    .skill {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 15px;


      &__name {
        width: 320px;
        font-size: 30px;
        color: var(--text-color-primary);

        .separator {
          color: var(--text-color-tertiary);
        }
      }

      &__capacity {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .nivel {
          display: block;
          width: 21px;
          height: 30px;
          margin-right: 5px;
          background-color: var(--text-color-secondary);
          opacity: 0;
        }
      }
    }
  }
}

.portfolio {
  
  &__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .project {
      cursor: pointer;
      position: relative;
      width: 360px;
      height: 360px;
      margin-bottom: 7rem;

      &__img {
        width: 360px;
        height: 360px;
        background-color: var(--text-color-primary);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(0px, 0px);
        
        &:nth-child(1) {
          z-index: 3;
        }
        
        &:nth-child(2) {
          z-index: 2;
        }
        
        &:nth-child(3) {
          z-index: 1;
        }
      }
    }
  }
}

.contact {
  padding-bottom: 50px;

  .container {
    display: flex;
    justify-content: flex-end;
  }

  &__link {
    position: relative;
    z-index: 6;
    display: inline-flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 25px;
    color: var(--text-color-primary);
    text-decoration: none;
    opacity: 0;
  }

  &__link--phone {
    
  }

  &__link--email {
    
    .email {
      color: var(--text-color-secondary);
    }

    .host {
      color: var(--text-color-tertiary);
    }
  }

  .gmaps {
    display: block;
    width: 100%;
    height: 300px;
    margin: 15px auto;
    position: relative;

    &__bg {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
    }

    &__bg-one {
      background-color: var(--text-color-primary);
    }

    &__bg-two {
      background-color: var(--text-color-secondary);
    }

    &__bg-three {
      background-color: var(--text-color-tertiary);
    }

    #gmaps {
      height: 100%;
      width: 100%;
      background-image: url(../images/map.png);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      opacity: 0;
      position: relative;
      z-index: 2;
    }
  }
}

@font-face {
  font-family: 'Maven Pro Regular';
  src: url("/fonts/maven_pro/static/MavenPro-Regular.ttf");
}

@font-face {
  font-family: 'Maven Pro SemiBold';
  src: url("/fonts/maven_pro/static/MavenPro-SemiBold.ttf");
}

@font-face {
  font-family: 'Maven Pro Black';
  src: url("/fonts/maven_pro/static/MavenPro-Black.ttf");
}